/* 
.songpad{
    max-height: 100%;
    padding: 2em;
    background: #e4d6d6;
    border: 1px solid black;

  }
  
  .cursor{
    border: 1px solid blue;
    background: black;
    display: inline;
  }

  .line{
      display: inline;
  } */

  .editor-wrap{
    font-family: monospace;
    max-width: 50%;
    max-height: 75vh;
    padding: 1rem; 
    background-color: palegoldenrod;
    border: 1px solid gray; 
    border-radius: 12px;
  }